/* 全体設定 */
* {
    box-sizing: border-box;
}

/* Bodyの初期スタイル調整 */
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif, 'Noto Serif JP', serif, 'Noto Music', 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
    background-color: #F8F8F8;
}

/* 初期スタイル */
h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Noto sans';
}

h2 {
    /* font-size: 2rem; */
    font-size: 32px;
    color: #00B5CE;
    line-height: 0.8;
    font-family: 'Noto Sans JP';
    font-weight: 400;
    letter-spacing: 1.8px;
}

.h2box {
    display: block;
    margin: 50px auto;
}

h2 span {
    /* font-size: 1rem; */
    font-size: 16px;
    font-family: 'Noto sans';
}

h3 {
    font-size: 18px;
    font-family: 'Noto sans';
    color: #005864;
    letter-spacing: 1.8px;
    font-weight: 400;
    /* ↑変えてもいい */
}

h5 {
    font-size: 12px;
    color: #005864;
}

#about p {
    font-size: 11px;
    text-align: center;
}

#mv,footer {
    background: #e4f4f8;
}

#style {
    background-color: #F2ECE4;
}

footer {
    font-size: 10px;
}

.footer-more ul {
    list-style: inside;
    list-style-type: "・　";
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 80vw;
    height: auto;
}

section {
    padding: 60px 0;
}

/* ボタンの設定 */

.btnbox {
    text-align: center;
    width: auto;
    /* height: auto; */
}

.btn {
    text-decoration: none;
    color: #00B5CE;
    padding: 17px 38px;
    font-size: 16px;
    border: 1px solid #00B5CE;
    border-radius: 30px;
}

.catch-copy {
    font-family: "Noto Serif JP";
    writing-mode: vertical-lr;
    letter-spacing: 3px;
    position: absolute;
}

.mv-bg {
    width: 90vw;
}

.card-icon {
    width: 20%;
}




/* ナビゲーションメニュー */

/* - モバイル 表示に関する設定 - */
.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

/* - PC 表示に関する設定 - */
@media screen and (min-width: 768px){
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}

 /* - 共通設定 - */
.gnav-item {
    text-transform: uppercase;
}

/* ハンバーガーメニュー */

/* - モバイル用CSS - */
    /* メニューボタン(OPEN) */
.header-navbtn {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    z-index: 20;
    /* background-color: rgba(89, 193, 188, 0.18); */
}

.header-navbtn span {
    position: relative;
    display: block;
    height: 2.6px;
    background-color: transparent; /* 透明 */
    margin: 0 auto;
    width: 20px;
}

.header-navbtn span::before,
.header-navbtn span::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2.6px;
    border-radius: 30px;
    background-color: #fff;
    transition: transform .5s;
}

.header-navbtn span::before {
    top: -3px;
}

.header-navbtn span::after {
    bottom: -3px;
}

    /* メニュー画面(OPEN) */
@media screen and (max-width: 767px){
    .sp-header-nav {
        position: fixed;
        z-index: 10;
        width: 98%;
        height: 98%;
        left: 1%;
        top: 1%;
        background-color: rgba(89, 193, 188, 0.18);
        box-shadow: 3px 3px 22px rgba(0, 88, 100, 0.31);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        transform: translateX(120%);
        transition: transform .7s;
    }

    body.is-nav-open .sp-header-nav {
        transform: translateX(0);
    }
}

.sp-header-nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-header-nav a {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    color: #fff;
    font-size: 21px;
    letter-spacing: 3px;
    font-family: "Noto Music", 'Noto Sans', sans-serif;
}

    /* メニューボタン(CLOSE) */
body.is-nav-open .header-navbtn span::before {
    transform: rotate(45deg);
    top: 0;
}

body.is-nav-open .header-navbtn span::after {
    transform: rotate(-45deg);
    top: 0;
}



/* サウンド  ON / OFF */


.sound-area {
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(174, 196, 199, 0.33);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transition: all 1s; */

}

.sound-area p {
    font-size: 7.5vw;  /* 24px */
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;

}

.sound-button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    border: none;
    color: #fff;
    background: transparent;
    padding: 1em;
    font-size: 4vw;  /* 15px */
    letter-spacing: 1.6px;
}

.sound-button img {
    width: 62%;
    padding: 0 0 5% 0;
}

.sound-button-area {
    display: flex;
    justify-content: space-between;
    width: 67%;
}

#on img {
    margin-left: 10%;
}















/* === LINE UP === */
.product a {
    text-decoration: none;
    color: #3c3c3c;
}




/* === ALL DAY STYLE === */

/* - ループエリアの設定 (表示幅・はみ出る部分の処理) -  */
.style__loop_area {
    display: flex;
    width: 100%;
    overflow: hidden;
}


/* - ループエリアの設定 (ホバーすると、アニメーションが止まる) -  */
.style__loop_area:hover .loop_left,
.style__loop_area:hover .loop_right {
    animation-play-state: paused;
}




/* - ループアニメーション　２段目 - */
@keyframes loop_animation_right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .loop_right {
    display: flex;
    animation: loop_animation_right 10s linear infinite;
  }


/* - ループアニメーション　1,３段目 - */
@keyframes loop_animation_left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(-100%);
    }
}

.loop_left {
    display: flex;
    animation: loop_animation_left 15s linear infinite;
}




/* - 写真の表示設定 - */

    /* 1,3段目 */
.loop_l_box {
    margin-left: 16px;
}

.loop_l_box img {
    min-width: 250px;
}

    /* 2段目 */
.loop_r_box {
    margin-right: 16px;
}

.loop_r_box img {
    min-width: 200px;
}

    /* 上下の間隔 */
.style__loop_area {
    margin:32px 0;
    transition: 1s all;
}

    /* 影をつける */
.style__loop_area img {
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s all;
}

    /* ホバーすると、写真を少し大きくする */
.style__loop_area img:hover {
    transform: scale(1.03);
    box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.2);
    }
    .style__loop_area:hover {
    overflow: visible;
    }



/* === Q & A === */

.question {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question_body {
    padding-bottom: 60px;
}

.question_body ul {
    list-style: none;
}

/* 各 Q&A 段の設定 */
.q-content {
    width: 230px;
    height: auto;
}

h4.q-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #005864;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 14px;
    border-bottom: solid 0.5px #005864;
    cursor: pointer;
}

.q-answer {
    color: #6C6C6C;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    padding: 15px 0 50px 0;

    display: none;  /* トグルで表示・非表示を切り替える */
}

.q-answer.is-open {
    display: block;
}

/* Q & A アコーディオン */
    /* ＋ × ボタンの作成 */
.q-question span {
    position: relative;
    width: 15px;
    height: 15px;
}


.q-openclose::before,
.q-openclose::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: #005864;
    transition: .5s;
}

.q-openclose::before {
    top: 6.5px;
}

.q-openclose.is-open::before {
    rotate: 135deg;
}

.q-openclose::after {
    bottom: 6.5px;
    rotate: 90deg;
}

.q-openclose.is-open::after {
    rotate: 225deg;
}



