/* 全体設定 */
* {
    box-sizing: border-box;
}

/* Bodyの初期スタイル調整 */
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif, 'Noto Serif JP', serif, 'Noto Music', 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
    background-color: #F8F8F8;
}

/* 初期スタイル */
h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Noto sans';
}

h2 {
    /* font-size: 2rem; */
    font-size: 32px;
    color: #00B5CE;
    line-height: 0.8;
    font-family: 'Noto Sans JP';
    font-weight: 400;
    letter-spacing: 1.8px;
}

.h2box {
    display: block;
    margin: 20px 0 60px 0;
}

h2 span {
    /* font-size: 1rem; */
    font-size: 16px;
    font-family: 'Noto sans';
}

h3 {
    font-size: 18px;
    font-family: 'Noto sans';
    color: #005864;
    letter-spacing: 1.8px;
    font-weight: 400;
    /* ↑変えてもいい */
}

h5 {
    font-size: 12px;
    color: #005864;
}

#about p {
    color: #6C6C6C;
    font-size: 11px;
    text-align: center;
    /* letter-spacing: 0.5px; */
}

#mv,footer {
    background: #e4f4f8;
}

#style {
    background-color: #F2ECE4;
}

footer {
    font-size: 10px;
}

.footer-more ul {
    list-style: inside;
    list-style-type: "・　";
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 80vw;
    height: auto;
}

section {
    padding: 60px 0;
}

#mv {
    padding-top: 0;
    padding-bottom: 0;
}

/* ボタンの設定 */

.btnbox {
    display: flex;
    justify-content: center;
    margin: 70px auto 15px auto;
    /* text-align: center; */
    width: auto;
    /* height: auto; */

}

.btn {
    text-decoration: none;
    color: #00B5CE;
    padding: 17px 38px;
    font-size: 16px;
    border: 1px solid #00B5CE;
    border-radius: 30px;
}



.card-icon {
    width: 20%;
}




/* ナビゲーションメニュー */

/* - モバイル 表示に関する設定 - */
.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

/* - PC 表示に関する設定 - */
@media screen and (min-width: 768px){
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}

 /* - 共通設定 - */
.gnav-item {
    text-transform: uppercase;
}

/* ハンバーガーメニュー */

/* - モバイル用CSS - */
    /* メニューボタン(OPEN) */
.header-navbtn {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    z-index: 20;
}

.header-navbtn span {
    position: relative;
    display: block;
    height: 2.6px;
    background-color: transparent; /* 透明 */
    margin: 0 auto;
    width: 20px;
}

.header-navbtn span::before,
.header-navbtn span::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2.6px;
    border-radius: 30px;
    background-color: #fff;
    transition: transform .5s;
    box-shadow: 2px 2px 5px rgba(0, 88, 100, 0.24);
}

.header-navbtn span::before {
    top: -3px;
}

.header-navbtn span::after {
    bottom: -3px;
}

    /* メニュー画面(OPEN) */
@media screen and (max-width: 767px){
    .sp-header-nav {
        position: fixed;
        z-index: 10;
        width: 98%;
        height: 98%;
        left: 1%;
        top: 1%;
        background-color: rgba(89, 193, 188, 0.18);
        box-shadow: 3px 3px 22px rgba(0, 88, 100, 0.31);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        transform: translateX(120%);
        transition: transform .7s;
    }

    body.is-nav-open .sp-header-nav {
        transform: translateX(0);
    }
}

.sp-header-nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-header-nav a {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    color: #fff;
    font-size: 21px;
    letter-spacing: 3px;
    font-family: "Noto Music", 'Noto Sans', sans-serif;
}

    /* メニューボタン(CLOSE) */
body.is-nav-open .header-navbtn span::before {
    transform: rotate(45deg);
    top: 0;
}

body.is-nav-open .header-navbtn span::after {
    transform: rotate(-45deg);
    top: 0;
}

body.is-nav-open .header-navbtn span::after,
body.is-nav-open .header-navbtn span::before {
    box-shadow: none;
}




/* サウンド  ON / OFF */


.sound-area {
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(174, 196, 199, 0.33);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transition: all 1s; */

}

.sound-area p {
    font-size: 7.5vw;  /* 24px */
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;

}

.sound-button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    border: none;
    color: #fff;
    background: transparent;
    padding: 1em;
    font-size: 4vw;  /* 15px */
    letter-spacing: 1.6px;
}

.sound-button img {
    width: 62%;
    padding: 0 0 5% 0;
}

.sound-button-area {
    display: flex;
    justify-content: space-between;
    width: 67%;
}

#on img {
    margin-left: 10%;
}



/* メインコンテンツ */

/* === TOP === */

/* HERO */
.mv_top-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: skyblue; */
}


.catch-copy {
    color: #627471;
    font-family: "Noto Serif JP";
    /* font-size: 16px; */
    font-size: 4.5vw;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    position: absolute;
    top:10vh;
}

.mv-product {
    width: 90vw;
    max-width: 800px;
    padding-top: 6.5vh;

}

.mv-logo {
    aspect-ratio: 5 / 1;
    width: 90vw;
    max-width: 800px;
    /* background-color: #00B5CE; */
    object-fit: cover;

}

.mv_second-container {
    width: 100%;
    height: 100vh;
    position: flex;
}


/* SECOND */
.mv_second-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    max-height: 750px;
    position: relative;
    padding-top: 60px;
}
/* ★上下がうまく固定されない */

.mv-raindrops {
    position: absolute;
    z-index: 5;
    top: 15%;
    left:45%;
    width: 40vw;
}

.mv-lead {
    position: relative;
    top: 40vh;
    width: 70vw;
    display: flex;
}

.lead-shape {
    margin: 0 auto;
}

.lead-copy {
    position: absolute;
    /* font-size: 14px; */
    font-size: 4vw;
    letter-spacing: 0.6vw;
    line-height: 6.5vw;
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.mv-umbrella {
    display: block;
    top: 43vh;
    position: relative;
    left: 34%;
    width: 55vw;
}

.mv_bg-water {
    position: absolute;
    transform: translate(-1px,-1px);
    z-index: -1;
    display: block;
    background: #F8F8F8;
}



/* === LINE UP === */
#lineup .h2box {
    margin: 50px 0 40px 0;
}

.product a {
    text-decoration: none;
    color: #3c3c3c;
}

.lineup_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product {
    margin: 10px 0;  /* product同士の上下余白 */
    text-align: center;
    position: relative;
}

.product-text {
    display: inline-block;
    letter-spacing: 0.08em;
    line-height: 1.5em;
}

.product-name {
    font-style: 16px;
}

.product-category {
    font-size: 12px;
}

/* kid'sのパディング設定 */
.h2-kids {
    margin: 100px 0 30px 0;
}

.product:last-child .right-text {
    top:77px;
}

#lineup .btnbox {
    margin: 15px auto;
}


/* スニーカースライドアニメ */
/* スニーカー写真 */
.product-img {
    width: 470px;
    height: auto;
}


/* スニーカー写真　表示位置 */
.left-img {
    transform: translateX(-15%);
}

.right-img {
    transform: translateX(15%);
}


/* スニーカー名 表示位置 */
.product-text {
    position: absolute;
}

.left-text {
    top: 110px;
    left: 260px;
}

.right-text {
    top: 110px;
    right: 240px;
}

.product:first-child .left-text {
    left: 250px;
}


/* スライド初期設定 */
.product-inner {
    display: inline-block;
    transition: all 1.5s;
}

.fadein-left {
    display: inline-block;
    transform: translateX(-70%);
    transition: all 1.5s;
}

.fadein-right {
    display: inline-block;
    transform: translateX(70%);
    transition: all 1.5s;
}


/* スクロール後の表示位置 */
.fadein-left.scrollin {
    transform: translateX(0);
}

.fadein-right.scrollin {
    transform: translateX(0);
}



/* === Wat's Vessi? === */
.about {
    background-color: #e4f4f8;
    /* ★仮背景 */
}

.about_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    width: 90vw;
    height: 40vh;
    padding: 10px;
    margin: 10px;
}

.card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    width: auto;
    height: 65px;
    margin-bottom: 15px;
}

.card:nth-child(2) .card-inner .card-icon {
    width: 80px;
}

.card-inner h3 {
    margin-bottom: 7px;
}

.card-inner p {
    font-size: 11px;
    line-height: 20px;
}





/* === TECNOLOGY === */

#tecnology {
    font-family: 'Noto Sans JP', sans-serif;
}

.tecnology_movie {
    padding: 150px 0;
}

.tecnology_movie-inner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    height: 60vh;
}

.tecnology_movie video {
    grid-row-start: 1;
    width: 100%;
    /* width: 95%; */
    /* border-radius: 35px; */
    /* display: flex;
    justify-content: center; */
}

.tecnology_movie p {
    grid-row-start: 2;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}




/* === ALL DAY STYLE === */

/* - ループエリアの設定 (表示幅・はみ出る部分の処理) -  */
.style__loop_area {
    display: flex;
    width: 100%;
    overflow: hidden;
}


/* - ループエリアの設定 (ホバーすると、アニメーションが止まる) -  */
.style__loop_area:hover .loop_left,
.style__loop_area:hover .loop_right {
    animation-play-state: paused;
}




/* - ループアニメーション　２段目 - */
@keyframes loop_animation_right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .loop_right {
    display: flex;
    animation: loop_animation_right 10s linear infinite;
  }


/* - ループアニメーション　1,３段目 - */
@keyframes loop_animation_left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(-100%);
    }
}

.loop_left {
    display: flex;
    animation: loop_animation_left 15s linear infinite;
}




/* - 写真の表示設定 - */

    /* 1,3段目 */
.loop_l_box {
    margin-left: 16px;
}

.loop_l_box img {
    min-width: 250px;
}

    /* 2段目 */
.loop_r_box {
    margin-right: 16px;
}

.loop_r_box img {
    min-width: 200px;
}

    /* 上下の間隔 */
.style__loop_area {
    margin:32px 0;
    transition: 1s all;
}

    /* 影をつける */
.style__loop_area img {
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 1s all;
}

    /* ホバーすると、写真を少し大きくする */
.style__loop_area img:hover {
    transform: scale(1.03);
    box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.2);
    }
    .style__loop_area:hover {
    overflow: visible;
    }



/* === Q & A === */

.question {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    padding-bottom: 180px;
}

.question_body {
    padding-bottom: 60px;
}

.question_body ul {
    list-style: none;
}

/* 各 Q&A 段の設定 */
.q-content {
    width: 230px;
    height: auto;
}

h4.q-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #005864;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 14px;
    border-bottom: solid 0.5px #005864;
    cursor: pointer;
}

.q-answer {
    color: #6C6C6C;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    padding: 15px 0 50px 0;

    display: none;  /* トグルで表示・非表示を切り替える */
}

.q-answer.is-open {
    display: block;
}

/* Q & A アコーディオン */
    /* ＋ × ボタンの作成 */
.q-question span {
    position: relative;
    width: 15px;
    height: 15px;
}


.q-openclose::before,
.q-openclose::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: #005864;
    transition: .6s .1s;
}

.q-openclose::before {
    top: 6.5px;
}

.q-openclose.is-open::before {
    rotate: 135deg;
}

.q-openclose::after {
    bottom: 6.5px;
    rotate: 90deg;
}

.q-openclose.is-open::after {
    rotate: 225deg;
}


/* === フッター === */

footer {
    position: relative;
}

.footer-drop {
    position: absolute;
    left: -5%;
    bottom: -5px;
    width: 110%;
    /* margin: 0 auto; */
}

footer h1 {
    display: inline-block;
    width: 100%;
}

footer img {
    display: inline-block;
    margin: 95px auto 82px auto;
}

    /* === SNS === */
.footer-sns {
    text-align: center;
    color: #005864;
    line-height: 1;
}

.footer-sns p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer-sns span {
    position: relative;
    top: -7px;
    display: inline-block;
    content: '';
    width: 70px;
    height: 0.5px;
    background-color:#005864;
    
}

.sns-box {
    line-height: 20px;
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 5px;
}

.sns-box i {
    font-size: 180%;
    margin-right: 20px;
}

.sns-box i:last-child {
    margin-right: 0px;
}

    /* === View More === */
.footer-more {
    position: relative;
    text-align: center;
}

.more-box {
    /* background: skyblue; */
    display: inline-block;
    position: relative;
    width: 220px;
    margin: 69px auto 75px;
    text-align: left;
}

.footer-more h5 {
    margin-bottom: 12px;
}

.footer-more li {
    margin-bottom: 10px;
}


.more-box::before {
    position: absolute;
    display: block;
    content: '';
    width: 0.5px;
    height: 130px;
    background-color: #005864;

    left: -20px;
}